body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsl(40, 85%, 70%);
}

h1,
.info {
    margin: 16px 128px;
    padding: 8px;
    background-color: hsl(40, 95%, 85%);
}

h1,
h2 {
    color: hsl(40, 70%, 30%);
}

h1 {
    margin: 16px;
    text-align: center;
}

.image {
   display: block;
   margin: 8px;
   text-align: center;
}

h2{
    display: inline;
}

.description {
    display: inline;
    margin: 0px 8px;
}

li {
    margin-bottom: 4px;
}

.back {
    text-align: center;
}