body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: hsl(40, 85%, 70%);
}

.backsplash {
    box-sizing: border-box;
    width: 1000px;
    height: 1600px;
    margin: 32px auto;
    padding-top: 2px;
    background-color: hsl(40, 95%, 85%);
}

h1 {
    margin: 16px;
    text-align: center;
}

h1,
.info {
    margin: 16px 128px;
    padding: 8px;
    background-color: hsl(40, 95%, 85%);
}

h1,
h2 {
    color: hsl(40, 70%, 30%);
}

.image {
   display: block;
   width: 400px;
   margin: 8px auto;
}

h2{
    display: inline;
}

.description {
    display: inline;
    margin: 0px 8px;
}


li {
    margin-bottom: 4px;
}

.back {
    text-align: center;
}